*{
  margin: 0;
  padding: 0;
}

.container img{
  position: absolute;
  top: 20%;
  left: 35%;
}
#second{
  width: 3px;
  height: 130px;
  background-color: black;
  border-top-right-radius:23px;
  border-bottom-right-radius:23px;
  position: absolute;
  top: 32%;
  left: 50%;
  box-shadow: 0px 0px 5px gray,
  0px 0px 10px gray,
  0px 0px 15px grey;
} 
#minute{
  width: 4px;
  height: 140px;
  background-color: black;
  position: absolute;
  top: 30%;
  left: 50%;
  box-shadow: 0px 0px 5px gray,
              0px 0px 10px gray,
              0px 0px 15px grey;
} 
#hours{
  width: 5px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 36%;
  left: 50%;
  box-shadow: 0px 0px 5px gray,
              0px 0px 10px gray,
              0px 0px 15px grey;
} 
#circle{
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 49.5%;

}